<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <meta charset="UTF-8">
        <title>
            {{ title }}
        </title>
    </head>
    <body>
        <div class="header">
            <h1>{{ title }}</h1>
        </div>
        <div class="menu_bar">
            <li>
                <li><a href="/video">Video</a></li>
            </ul>
        </div>