<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='video_feed.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='video_feed.js') }}"></script>
    <meta charset="UTF-8">
    <title>Video_feed</title>
</head>
<body>
    <div class="bg">
        <iframe id="audioFeed" src="about:blank"´></iframe>
        <iframe id="videoFeed" src="/video_feed"></iframe>
        <div class="button_bar">
            <button id="photoButton" class="button" type="submit">
                Take Photo
                <i class="material-icons">&#xe7fa;</i>
            </button>
            <button id="lotteryButton" class="button" type="submit" disabled>
                Draw Winner
                <i style="font-size:24px" class="fa">&#xf000;</i>
            </button>
            <button id="redoButton" class="button" type="submit" disabled>
                Redo Photo
                <i class="material-icons">&#xe15a;</i>
            </button>
        </div>
    </div>
</body>
</html>